#chat{
    height: 90%;
    word-wrap: break-word;
    overflow:auto;
    padding: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
  }
#chatWrap{
  width: 100%;
  height: 100%;

  padding: 0px;
  background: rgb(244, 92, 66);
  color: black;
  text-align: left;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  clear: both;
}
body {
  background: rgb(41, 31, 30);
}
#send-message{
  left: 50%;
  top: 10%;
  clear: both;
}
#msg{
  clear: both;
}
#form{
  bottom:0;
}
#contentWrap{
  display:none;
  position:absolute;
  width:72%;
  height:75%;
}
#users{
  display:none;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  font-size: 16px;
}
#enter_username{
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  font-size: 16px;
}
.error{
  color: rgb(123, 27, 34);
  text-decoration: underline;
}
.whisper{
  color: darkgrey;
  font-style: italic;
}
